/* button.css */

/* Tile Button Container */
.button-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  gap: 12px;

  position: relative;
  width: 343px;
  height: 64px;

  background: #FFFFFF;
  border: 1px solid #F3F2F1;
  border-radius: 8px;
}

/* Inner Frame */
.button-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0px;

  margin: 0 auto;
  width: 100%;
  height: 64px;
}

/* Icon Container (Left) */
.button-icon-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #E8F1F8;
  border-radius: 50%;
  gap: 10px;
  
}

/* Left Image */
.button-icon-left img{
  width: 40px;
  height: 40px;
}

/* Left Icon */
.button-icon-left svg {
  width: 24px;
  height: 24px;
}

/* Text */
.button-text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #383F43;
  text-align: left;
  margin-left: 12px;
  flex-grow: 1;
}

/* Icon Container (Right - Arrow) */
.button-icon-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

/* Hover State */
.button-container:hover {
  background: #F9FAFB;
  border-color: #E0E0E0;
}
